{% set pageTitle = "Guidance by topic" %}
{% set pageDescription = "Topic-based guidance for teams that build consistent, usable services that put people first." %}
{% set pageSection = "Guidance by topic" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <p>Use this guidance split into topics to explore standards, best practices and advice for topics relevant to teams building health and care services.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
