{% set pageTitle = "Guidance by topic" %}
{% set pageDescription = "Topic-based guidance for teams that build consistent, usable services that put people first." %}
{% set pageSection = "Guidance by topic" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <p>Use this guidance split into topics to explore standards, best practices and advice for topics relevant to teams building health and care services.</p>

  <p>Find guidance about:</p>
  <ul>
    <li>ensuring your service is <a href="/guidance-by-topic/accessibility/">accessible to everyone who needs it</a></li>
    <li>reusing <a href="/guidance-by-topic/technology/">common technologies and tools</a> to build health and care products</li>
    <li>designing <a href="/guidance-by-topic/URLs/">URLs to be naturally user and SEO (search engine optimisation) friendly</a></li>
  </ul>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
